*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #e5e5e5;
}

$navsize:15px;
$navlineheight:22.5px;
$navcolor:#fff;

%button{
    height: 49px;
    width: 128px;
    border-radius: 100px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #fff;
    cursor: pointer;
    font-size: $navsize;
    line-height: $navlineheight;
    border: none;
}

%explore{
    height: 91px;
    width: 263px;
    border-radius: 27px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 25px;
    line-height: 37.5px;

}


.container{
    max-width: 1240px;
    margin: 0 auto;
}

.header{
    background-color: #1F5E37;
    height: 651px;
    .navbar{
        .navbar-left{
            display: inline-flex;
            li{
                list-style: none;
                padding: 54px 237px 95px 100px;
                a{
                    color: $navcolor;
                    font-size: 20px;
                    line-height: 30px;
                    text-decoration: none;
                }
            }
    }
    .navbar-center{
        display: inline-flex;
        li{
            list-style: none;
            padding: 60px 10px 0px 70px ;
            a{
                color: $navcolor;
                font-size: $navsize;
                line-height: $navlineheight;
                text-decoration: none;
            }
        }

    }
    .navbar-right{
        display: inline-flex;
        padding-left: 80px;
        li{
            list-style: none;
            padding-top:60px;
            padding-left: 20px;
            .button{
                @extend %button;
                margin-top: -12px;
            }
            a{
                color: $navcolor;
                font-size: $navsize;
                line-height: $navlineheight;
                text-decoration: none;
            }
        }

    }
    
    }

    .hero-bar{
        display: flex;
        .hero-bar-left{
            width: 900px;
            .btn{
                height: 27px;
                width: 166px;
                left: 131px;
                top: 190px;
                border-radius: 15px;
                background: #FFFFFF40;
                margin-left: 100px;
                border: none;
                color: #fff;
                cursor: pointer;
            }
            h1{
                padding-left: 100px;
                padding-right: 100px;
                color: $navcolor;
                font-size: 35px;
                line-height: 52.5px;
            }
            p{
                color: $navcolor;
                font-size: 25px;
                line-height: 32.5px;
                padding-top: 25px;
                padding-left: 100px;
                opacity: 0.5;
            }
            .button{
                @extend %explore;
                margin-top: 68px;
                margin-left: 100px;
            }
        }

        .hero-bar-right{ 
            img{
            width: 110%;
            height: 110%;
            margin-top: -100px;
            margin-left: -180px;
        }
    }

       
    }
}

.slides{
    background-color: #e5e5e5;
    height: 522px;
    margin-top: 20px;
    padding-top: 50px;
    .wrapper{
        display: flex;
        box-sizing: border-box;
        .slides-txt{
            padding-left: 100px;
            // padding-right: 15px;
            h1{
                font-size: 55px;
                line-height: 82.5px;
                color: #0F1F1C;
            }
            h2{
                font-size: 30px;
                line-height: 45px;
                color: #0F1F1C;
            }
            p{
                font-size: 25px;
                line-height: 37.5px;
                opacity: 0.5;
            }
            .button{
                @extend %explore;
                width: 223px;
                height: 79px;
                margin-top: 60px;
            }
        }
        .slides-img-center{
           padding-left: 30px;
        }

    }
   
}

.comments{
    background-color: #e5e5e5;
    height: 600px;
    margin-top: 20px;
    .rapper{
        display: inline-flex;
        .comments-img{
            padding-left: 100px;
            padding-top: 50px;
            img{
                border-radius: 30px;
            }
        }
        .comments-txt{
            padding-top: 50px;
            padding-left: 50px;
            h1{
                font-size: 45px;
                line-height: 67.5px;
                color: #0F1F1C;
            }
            .comments-alpinist{
                display: inline-flex;
                padding-top: 40px;
                .alpinist{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
                }
                img{
                    padding-left: 8px;
                }

               .alpinist-name{
                   padding-top: 25px;
                   padding-left: 30px;
                   h1{
                       font-size: 33px;
                       line-height: 49.5px;
                       color: #0F1F1C;
                   }
                   p{
                       font-size: 25px;
                       line-height: 37.5px;
                       color: #0F1F1C;
                       opacity: 0.5;
                       margin-top: -50px;
                   }
               } 
            }
            p{
                font-size: 22px;
                line-height: 33px;
                color: #0F1F1C;
                opacity: 0.5;
                padding-top: 50px;
            }
            .comments-start{
                padding-top: 20px;
               img{
                padding-right: 10px;
               }
            }
        }

    }
    
}

.getstarted{
    background-color: #fff;
    height: 581px;
    width: 1240px;
    margin: 0 auto;
    border-radius: 60px;
    margin-top: 50px;
    position: relative;
    h1{
        font-size: 45px;
        line-height: 67.5px;
        text-align: center;
        padding: 116px 0px 10px 0;
        color: #0F1F1C;
        padding-bottom: 35px;
    }
    p{
        font-size: 30px;
        line-height: 45px;
        color: #0F1F1C;
        opacity: 0.5;
        text-align: center;
        padding-bottom: 60px
    }
    .button{
        @extend %explore;
        width: 225px;
        height: 79px;
        margin-left: 508px;
    }

    .getstarted-tepa{
       position: absolute;
       top: 110px;
       right: 70px;
    }
    .getstarted-past{
        position: absolute;
        top: 440px;
        left: 110px;
    }
}

.subscribe{
    margin-top: 150px;
    width: 800px;
    background-color: #e5e5e5;
    margin: 0 auto;
    height: 400px;
    box-sizing: border-box;
    h1{
        text-align: center;
        font-size: 55px;
        line-height: 82.5px;
        color: #0F1F1C;
        padding-top: 105px;

    }
    input{
        width: 800px;
        height: 90px;
        border-radius: 35px;
        border: none;
        padding: 47px;
        font-size: 24px;
        line-height: 36px;
        position: relative;
    }
    .button{
        @extend %explore;
        width: 300px;
        height: 80px;
        position: relative;
        left: 490px;
        top: -86px;
    }
}

.navbar{
    .navbar-left{
        display: inline-flex;
        li{
            list-style: none;
            padding: 54px 237px 95px 100px;
            a{
                color: #FF7C4E;
                font-size: 20px;
                line-height: 30px;
                text-decoration: none;
            }
        }
}
.navbar-center{
    display: inline-flex;
    li{
        list-style: none;
        padding: 60px 10px 0px 70px ;
        a{
            color: #615d5d;
            font-size: $navsize;
            line-height: $navlineheight;
            text-decoration: none;
        }
    }

}
.navbar-right{
    display: inline-flex;
    padding-left: 80px;
    li{
        list-style: none;
        padding-top:60px;
        padding-left: 20px;
        .button{
            @extend %button;
            margin-top: -12px;
        }
        a{
            color: #615d5d;
            font-size: $navsize;
            line-height: $navlineheight;
            text-decoration: none;
        }
    }

}
 #footer-btn{ 
    .button{
        @extend %button;
        margin-top: -12px;
    }
    a{
        color: #0F1F1C !important;
        font-size: $navsize !important;
        line-height: $navlineheight !important;
        text-decoration: none !important;
    }

}

}
